## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,76.73,74,11,16.35,few clouds
1,1,Solnechnyy,RU,50.7214,136.6319,12.67,95,100,3.18,light snow
2,2,Castro,BR,-24.7911,-50.0119,75.43,60,85,3.74,overcast clouds
3,3,Albany,US,42.6001,-73.9662,30.85,84,91,2.98,overcast clouds
4,4,Hermanus,ZA,-34.4187,19.2345,63.55,84,75,7.61,broken clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 85

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,76.73,74,11,16.35,few clouds
2,2,Castro,BR,-24.7911,-50.0119,75.43,60,85,3.74,overcast clouds
4,4,Hermanus,ZA,-34.4187,19.2345,63.55,84,75,7.61,broken clouds
7,7,Sao Filipe,CV,14.8961,-24.4956,76.80,70,95,14.70,overcast clouds
9,9,Meulaboh,ID,4.1363,96.1285,74.34,91,100,4.52,moderate rain

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                354
City                   354
Country                351
Lat                    354
Lng                    354
Max Temp               354
Humidity               354
Cloudiness             354
Wind Speed             354
Current Description    354
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,76.73,few clouds,-23.1203,-134.9692,
2,Castro,BR,75.43,overcast clouds,-24.7911,-50.0119,
4,Hermanus,ZA,63.55,broken clouds,-34.4187,19.2345,
7,Sao Filipe,CV,76.80,overcast clouds,14.8961,-24.4956,
9,Meulaboh,ID,74.34,moderate rain,4.1363,96.1285,
10,Goianira,BR,80.42,broken clouds,-16.4961,-49.4264,
11,Lages,BR,71.51,overcast clouds,-27.8161,-50.3261,
12,Busselton,AU,61.63,scattered clouds,-33.6500,115.3333,
14,Saint George,US,77.47,clear sky,37.1041,-113.5841,
15,Vila Velha,BR,76.95,broken clouds,-20.3297,-40.2925,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np

hotel_df["Hotel Name"].replace("", np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(50)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,76.73,few clouds,-23.1203,-134.9692,People ThankYou
2,Castro,BR,75.43,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
4,Hermanus,ZA,63.55,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
7,Sao Filipe,CV,76.80,overcast clouds,14.8961,-24.4956,Hotel Xaguate
9,Meulaboh,ID,74.34,moderate rain,4.1363,96.1285,Kost Pria
10,Goianira,BR,80.42,broken clouds,-16.4961,-49.4264,Estância Palmeiras
11,Lages,BR,71.51,overcast clouds,-27.8161,-50.3261,"Le CanarD Lages - Hotel em Lages, Excelente Lo..."
12,Busselton,AU,61.63,scattered clouds,-33.6500,115.3333,Observatory Guest House
14,Saint George,US,77.47,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
15,Vila Velha,BR,76.95,broken clouds,-20.3297,-40.2925,Quality Suites Vila Velha
17,Lompoc,US,82.71,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
21,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
23,Hilo,US,77.47,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
24,Noumea,NC,82.38,broken clouds,-22.2763,166.4572,Hôtel Le Lagon
26,Sao Lourenco Do Oeste,BR,67.60,light rain,-26.3592,-52.8511,Poente Hotel
30,Gariadhar,IN,73.81,broken clouds,21.5333,71.5833,Circuit House
32,Tantoyuca,MX,70.41,overcast clouds,21.3500,-98.2333,HOTEL VICTORIA
33,Kapaa,US,78.78,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
35,Bengkulu,ID,75.85,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
38,Riyadh,SA,63.43,clear sky,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
39,Bredasdorp,ZA,62.89,few clouds,-34.5322,20.0403,Bredasdorp Country Manor
40,Itacare,BR,76.21,overcast clouds,-14.2775,-38.9967,Ecoporan Hotel Charme Spa & Eventos
42,Sur,OM,73.51,clear sky,22.5667,59.5289,Sur Plaza Hotel
43,Hithadhoo,MV,81.37,broken clouds,-0.6000,73.0833,Scoop Guest House
44,Gualaquiza,EC,78.19,broken clouds,-3.4000,-78.5500,Hotel Merceditas
47,Phirangipuram,IN,70.54,overcast clouds,16.3000,80.2667,Carmel Girls Hostel(Universal College Of Engin...
49,Pangkalanbuun,ID,70.61,overcast clouds,-2.6833,111.6167,Grand Kecubung Hotel
52,Mar Del Plata,AR,63.27,overcast clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
53,Port Victoria,KE,71.38,moderate rain,0.0939,33.9756,Homepark motel
57,Cabo San Lucas,MX,74.50,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
59,Namatanai,PG,81.16,light rain,-3.6667,152.4333,Seagulls Inn Namatani
62,Buraydah,SA,60.93,clear sky,26.3260,43.9750,فندق راحة السلام
63,Atar,MR,65.23,clear sky,20.5169,-13.0499,Oumou Elghoura
64,Portobelo,PA,82.81,overcast clouds,9.5500,-79.6500,Scuba Portobelo
67,Baiao,BR,82.31,overcast clouds,-2.7906,-49.6717,Hotel Eurosono
71,East London,ZA,69.12,scattered clouds,-33.0153,27.9116,Tu Casa
74,Kavieng,PG,81.84,moderate rain,-2.5744,150.7967,Nusa Island Retreat
76,Mahebourg,MU,76.23,clear sky,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
77,Iranshahr,IR,66.87,clear sky,27.2025,60.6848,نیک سرشت
78,Saldanha,ZA,63.01,scattered clouds,-33.0117,17.9442,Blue Bay Lodge
79,Alexandria,EG,71.65,overcast clouds,31.2156,29.9553,Royal Crown Hotel
81,Chuy,UY,66.07,moderate rain,-33.6971,-53.4616,Nuevo Hotel Plaza
82,Tabou,CI,79.34,scattered clouds,4.4230,-7.3528,hotêl doufoulougou
84,Palu,ID,75.16,overcast clouds,-0.8917,119.8707,Hotel Santika Palu
85,Rosetta,EG,71.06,overcast clouds,31.4044,30.4164,Green Valley
87,Nuevo Progreso,MX,71.11,overcast clouds,23.1667,-97.9500,Balneario Rio el Paraiso
90,Hobbs,US,61.39,clear sky,32.7026,-103.1360,Best Western Executive Inn
91,Port Elizabeth,ZA,66.49,clear sky,-33.9180,25.5701,39 On Nile Guest House
92,Yenagoa,NG,77.16,overcast clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa
94,Liku,ID,74.52,light rain,-0.7275,119.8922,Wahyu

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}  °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
#max_temp = clean_hotel_df[""]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))