## Deliverable 3. Create a Travel Itinerary Map.

In [50]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,76.73,few clouds,-23.1203,-134.9692,People ThankYou
1,2,Castro,BR,75.43,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
2,4,Hermanus,ZA,63.55,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,7,Sao Filipe,CV,76.80,overcast clouds,14.8961,-24.4956,Hotel Xaguate
4,9,Meulaboh,ID,74.34,moderate rain,4.1363,96.1285,Kost Pria

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}  Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
# 4a. Add a marker layer for each city to the map.
# choose four cities that a customer might want to visit

#max_temp = clean_hotel_df[""]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Flagstaff")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Flagstaff")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Dublin")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Lompoc")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Linda")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
213,430,Flagstaff,US,62.26,clear sky,35.1981,-111.6513,Drury Inn & Suites Flagstaff

In [93]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

(37.7021, -121.9358)

In [98]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer_map = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop3, stop2],
        travel_mode='DRIVING')
fig.add_layer(direction_layer_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,430,Flagstaff,US,62.26,clear sky,35.1981,-111.6513,Drury Inn & Suites Flagstaff
1,430,Flagstaff,US,62.26,clear sky,35.1981,-111.6513,Drury Inn & Suites Flagstaff
2,377,Dublin,US,67.12,clear sky,37.7021,-121.9358,Pleasanton Marriott
3,17,Lompoc,US,82.71,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
4,512,Linda,US,71.28,clear sky,39.1277,-121.5508,Comfort Suites Marysville-Yuba City

In [101]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}  Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [102]:
# 11a. Add a marker layer for each city to the map.
#max_temp = clean_hotel_df[""]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))